{% extends 'base.html.twig' %}

{% block body %}
    <h1>Date and Timezone Information</h1>
    {% if result %}
        <div>{{ result|raw }}</div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}